<div>
    <p>Street Clothes</p>
    <nav id="menu">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a [routerLink]="['/lista-produtos']" routerLinkActive="router-link-active">Produtos</a></li>
            <li><a [routerLink]="['/lista-categoria']" routerLinkActive="router-link-active">Categorias</a></li>
            <li><a [routerLink]="['/pedido']" routerLinkActive="router-link-active">Pedidos</a></li>
            <li><a [routerLink]="['/lista-clientes']" routerLinkActive="router-link-active">Clientes</a></li>
            <li><a href="#">Duvidas Frequentes</a></li>
            <li><a href="#">Contato</a></li>
            <li>
                <a class="btn-cart" href="javascript:" [routerLink]="['/carrinho']" routerLinkActive="router-link-active" ><img src="assets/imgs/Shopping-basket-full-icon.png" alt=""></a>          
            </li>
        </ul>
    </nav>
</div>