<br>
<br>
<h1>Bem vindos a Street Clothes</h1>

<p>Trabalho de desenvolvimento fullstack dos alunos</p>
<table>
    <th>Nome</th>
    <th>RA</th>
    <tr>
        <td>Davi Franco</td>
        <td>053359</td>
    </tr>
    <tr>
        <td>Jhonny Soares</td>
        <td>056758</td>
    </tr>
    <tr>
        <td>Samuel Rocha</td>
        <td>054546</td>
    </tr>
    <tr>
        <td>Paulo gabriel</td>
        <td>061574</td>
    </tr>
    <tr>
        <td>João Vitor</td>
        <td>046589</td>
    </tr>
    <tr>
        <td>Washington Luiz</td>
        <td>177256</td>
    </tr>
</table>

