<div class="bg">

</div>
<div class="login">

</div>

<div class="login-conteudo">
  <form (ngSubmit)="logar()" [formGroup]="form">
    <h1>Entre na sua conta</h1>

    <label for="txtUsuario">E-Mail</label><br />
    <input type="text" id="txtUsuario" formControlName="emailFormControl"><br />
    <label for="txtSenha">Senha</label><br />
    <input type="password" id="txtSenha" formControlName="senhaFormControl"><br />
    <br />
    <input type="submit" class="btn btn-outline-primary me-2" value="Logar">
    <button><a href="#" class="btn btn-success" href="" routerLink="/cadastroLogin" routerLinkActive="router-link-active">Novo</a></button>
  </form>
  
</div>